<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add name="FLCADDB"
			 connectionString="Data Source=DESKTOP-EBUSJ7U\SQLSERVER2019;Database=FLCADTest;User Id=###;Password=##;Trusted_Connection=yes;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogPath" value="D:\Temp\DBCleanError.txt"/>
		<add key="FLCEventScriptQuery" value="SELECT * FROM FLCEvent WHERE TS &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCModuleInstanceScriptQuery" value="SELECT * FROM FLCModuleInstance WHERE HeartBeatTS &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCLogfilesScriptQuery" value="SELECT *  FROM FLCLogFiles WHERE RiceivingTime &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCMailArchiveScriptQuery" value="Select * FROM FLCMailArchive WHERE MailCreationTS &gt; DATEADD(MONTH, -9, GETDATE())"/>
		
		
		<!--<add key="FLCEventScript" value="DELETE FROM FLCEvent WHERE TS &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCModuleInstanceScript" value="DELETE FROM FLCModuleInstance WHERE HeartBeatTS &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCLogfilesScript" value="DELETE FROM FLCLogFiles WHERE RiceivingTime &gt; DATEADD(MONTH, -9, GETDATE())"/>
		<add key="FLCMailArchiveQuery" value="DELETE FROM FLCMailArchive WHERE MailCreationTS &gt; DATEADD(MONTH, -9, GETDATE())"/>-->
	</appSettings>
</configuration>